<div class="activities">
  <h2 class="activity-instruction">ADEPT activities serve as learning tools to navigate through the promotion and tenure
    evaluation
    process. The activities represent real issues in composite form so you can better understand the role of being an
    evaluator. </h2>
  <div class="row activity-row">
    <!--class.selected will be added when we select one of the cards-->
    <div class="col-md-4 col-lg-4 " *ngFor="let activity of activities">
      <div class="activity-card">
        <img class="activity-img" [src]=activity.image_src>
        <div class="activity-name">{{activity.name}}</div>
        <div class="activity-time"><i>{{activity.time}}</i></div>
        <hr class="divider">
        <div class="activity-desc">{{activity.short_description}}</div>
        <div class="activity-role"><b>Your Role:</b>
          <br>{{activity.your_role}}
        </div>
        <button (click)="goToNextPage(activity)">Play Game</button>
      </div>
    </div>
  </div>

</div>
