<button (click)="openTranscriptDialog()" style="float:right">VIEW A SUMMARY OF YOUR ANSWERS</button>

<h2 mat-dialog-title>Congratulations!</h2>

<hr>

<mat-dialog-content>
  <div>
    <b><i>You’re doing great as a mentor!</i></b>
    <br>
    <p>Here’s how you could further improve your ‘progress’ in the different aspects of life:
    </p>
    <p>A good score in <b>‘Research’</b> requires work in scholarship, being creative, bringing in funding, creating a
      lasting impact, and building a good reputation.</p>
    <p>A good score in <b>‘Teaching’</b> requires positive student responses, curricular development, pedagogical
      innovations.</p>
    <p>A good score in <b>‘Service’</b> requires candidate to have served unit, college, institute; as well as local,
      national,
      and international organizations.
    </p>
    <p>A good score in <b>‘Allies’</b> requires good relationships with colleagues, disciplinary peers, peers in other
      fields.
    </p>
    <p>A good score in <b>‘Health’</b> requires candidate to have made good decisions regarding physical, mental, and
      emotional wellness, including choices that minimize stress.</p>
  </div>
</mat-dialog-content>


