/*
#container {
  min-height:100%;
  position:relative;
}
*/

#header {
  min-height: 44px;
  background-color: #ebb728;

}

#body {
  padding-bottom: 0px;
}

#footer {
/*  position:absolute;
  bottom:0;*/
  min-height: 84.83px;
  background-color: #ebb728;

}
