<!--
<div class="sm-game">
  <div class="row">
    <div class="col-md-3 left-panel">
      <div style="margin-left: 30px; margin-right:20px;">
        <img src="../../../assets/logo_sm.png" class="logo">
        <hr style="margin-top: 20px;">
        <div style="font-size: 16px;"><b>YOU ARE: </b>PANELIST 4</div>
        <button class="button-blue">
          PANELISTS BIO
        </button>
        <hr style="margin-top: 20px;">
        <div style="margin-top:10px;font-size: 16px;text-align: center; font-weight: 700;">CANDIDATE'S PROFILE</div>
        <div class="candidate-card" style="margin-top: 10px; background-color: #F5F5F5">
          <div class="row">
            <div class="col-md-5">
              <img class="candidate-img" src="../../../assets/candidate.png">
            </div>
            <div class="col-md-7">
              <div class="candidate-name">Jamie Perez</div>
              <div class="candidate-short-desc">PhD in Material Science and Engineering</div>
            </div>
          </div>
          <div class="row view-details-left">
            <div style="margin-top:18px;">
              <ul>
                <li>{{selectedCandidate.dossier.educational_background[0]}}</li>
                <li>{{selectedCandidate.dossier.educational_background[1]}}</li>
              </ul>
            </div>
            <button style="background-color: #0D3055; width: 100%">
              <span style="color: white;font-size: 16px;text-align: center">View Curriculum Vitae</span>
            </button>
          </div>
          <div class="row view-details-left" style="margin-top: 12px;">

              <div class="truncate" style="margin-top:18px;">
                {{selectedCandidate.career_account[0]}}
              </div>
            <button style="background-color: #EFB211; width: 100%">
              <span style="color: white;font-size: 16px;text-align: center;">View Case Study</span>
            </button>
          </div>

        </div>
        <hr style="margin-top: 20px;">
        <button class="back-to-main-page">
          <span style="font-size: 16px;text-align: center;"><img src="./../../../assets/left-arrow.svg"
                                                                 style="width:24px;height:24px;"> &nbsp;BACK TO MAIN PAGE</span>
        </button>
      </div>
    </div>

    <div class="col-md-7">
      <div class=" right-panel">
        <div class="row" style="height:40%">
          <img src="../../../assets/panel.jpg" style="width: 100%">
        </div>
        <div class="row"
             style="height:35%;background-color: #F6F6F6; margin-top:20px;display: block;align-items: flex-end">
          <div style="font-size: 17px;font-weight: 700;">Pick a statement to say to the committee</div>
          <mat-radio-group class="example-radio-group" [(ngModel)]="answer">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
          <div style="margin-top: 15px;">
            <button>Submit</button>
          </div>

        </div>
      </div>

    </div>
    <div class="offset-md-1 col-md-1">
      <button class="rotate">Transcript</button>
    </div>
  </div>
</div>
-->

<div class="main-page">
  <div class="row" style="width:100%; min-height:640px;">
    <div class="col-md-3 left-panel">
      <div style="margin-left: 30px; margin-right:20px;">
        <img src="../../../assets/logo_sm.png" class="logo">
        <hr style="margin-top: 20px;">
        <div style="font-size: 16px;"><b>YOU ARE: </b>PANELIST 4</div>
        <button class="button-blue" (click)="openPanelistBio()">
          PANELISTS BIO
        </button>
        <hr style="margin-top: 20px;">
        <div style="margin-top:10px;font-size: 16px;text-align: center; font-weight: 700;">CANDIDATE'S PROFILE</div>
        <div class="candidate-card">
          <div class="row" *ngIf="candidate!=null">
            <div class="col-md-5">
              <img [src]="candidate.image" style="padding-left: 15px;">
            </div>
            <div class="col-md-7">
              <div class="candidate-name">{{candidate.name}}</div>
              <div class="candidate-short-desc">{{candidate.short_desc}}</div>
            </div>
          </div>
          <div class="row view-details-left" *ngIf="candidate!=null">
            <div class="cv-card" (click)="openCvDialog()">
              <div style="margin-top:18px;">

                <ul>
                  <li>{{candidate.dossier.educational_background[0]}}</li>
                  <li>{{candidate.dossier.educational_background[1]}}</li>
                </ul>

                <div style="background-color: #0D3055; width: 100%;padding-left:10px;">
                  <span style="color: white;font-size: 16px;text-align: center;">View Curriculum Vitae</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row view-details-left" style="margin-top: 12px;" *ngIf="candidate!=null">
            <div class="cv-card" (click)="openCasestudyDialog()">
              <div class="truncate" style="margin-top:18px;margin-bottom: 18px;">
                {{candidate.career_account[0]}}
              </div>
              <div style="background-color: #EFB211; width: 100%;padding-left:10px;">
                <span style="color: white;font-size: 16px;text-align: center;">View Case Study</span>
              </div>
            </div>
          </div>

        </div>
        <hr style="margin-top: 20px;">
        <button class="back-to-main-page" (click)="goBack()">
          <span style="font-size: 16px;text-align: center;"><img src="./../../../assets/left-arrow.svg"
                                                                 style="width:24px;height:24px;"> &nbsp;BACK TO MAIN PAGE</span>
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="right-panel" style="min-height: 100%;">
        <div class="progress-bar-container">
          <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
        </div>
        <div>
          <div>
            <img [src]=panelImage style="width:100%;position:relative">
            <div class="panel-dialog" style="">
              {{currentDialogContent}}
            </div>
          </div>
        </div>
        <div *ngIf="currentDialogSpeaker!=0" class="control-panel">
          <button *ngIf="dialogesForPanelist!=null && currentId!=dialogesForPanelist.conversation.length"
                  class="control-button"
                  (click)="clickOnNextButton()"><img
            src="../../../assets/right-arrow.png" style="padding:5px;width:24px;"></button>
          <button *ngIf="dialogesForPanelist!=null && currentId!=1" class="control-button"
                  (click)="clickOnBackButton()"><img
            src="../../../assets/left-arrow.png" style="padding:5px;width:24px;"></button>

        </div>
        <div *ngIf="currentDialogSpeaker==0"
             style="height:35%;background-color: #F6F6F6; margin-top:20px;margin-bottom:20px;display: block;align-items: flex-end;padding-top:2px;padding-left:10px;">
          <div style="font-size: 17px;font-weight: 700;margin-bottom:10px;margin-top:10px;">Pick a statement to say to
            the committee
          </div>
          <mat-radio-group class="example-radio-group" [(ngModel)]="answer" style="font-size: 16px;">
            <mat-radio-button class="example-radio-button" *ngFor="let option of answerOptions" [value]="option">
              {{option.text}}
            </mat-radio-button>
          </mat-radio-group>
          <div style="margin-top: 5px;margin-bottom: 15px;">
            <button class="submit" (click)="submitAnswer()">Submit</button>
          </div>

        </div>
        <div><!--You have been appointed to serve as the fourth member of the unit-level
          evaluation
          committee reviewing a Promotion and Tenure case. Choose a case from below. Then read the candidate's profile
          and
          descriptions of fellow panelists. <i>(Character information is
            fictional).</i>-->
        </div>
        <!--class.selected will be added when we select one of the cards-->

        <!--<div class="col-md-4 col-lg-4 choose-candidate-card" *ngFor="let candidate of candidates"
             [class.selected]="candidate === candidates"
             (click)="onSelect(candidate)">
          <div class="row">
            <div class="col-md-5">
              <img class="candidate-img" [src]=candidate.image>
            </div>
            <div class="col-md-7">
              <div class="candidate-name">{{candidate.name}}</div>
              <div class="candidate-short-desc">{{candidate.short_desc}}</div>
            </div>
          </div>
        </div>-->

      </div>
    </div>
    <div class="col-md-1 transcript">
      <div [@heroState]="state"
           (click)="toggleState()" style="width: auto;height: auto;background-color: #0D3055">
        TRANSCRIPT
      </div>
    </div>
  </div>
</div>


