html, body {
  height: 100%;
  padding: 0;
}

#body {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */
.mat-radio-label-content {
  white-space: normal;
}

.mat-radio-button {
  width: 100%;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #0D3055;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0D3055;
}

.mat-progress-bar-primary {
  background-color: #0D3055;
}

.mat-dialog-container {
  min-width: 800px;
}

.mat-progress-bar-buffer {
  background-color: #cccccc;
}

.mat-dialog-actions {
  float: right;
}

button {
  font-weight: 400;
  background-color: #0D3055;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  height: 34px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #EFB211; /* Green */
  color: white;
  cursor: pointer;
}

.close {
  float: right;
  background: none;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

.close:hover {
  cursor: pointer;
}

.dialog-actions {
  background-color: transparent;
  color: black;
}

.dialog-actions:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}
